@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppinsLight";
  src: url("./assets/fonts/poppinsLight.ttf");
}
@font-face {
  font-family: "poppinsRegular";
  src: url("./assets/fonts/poppinsRegular.ttf");
}
@font-face {
  font-family: "poppinsMedium";
  src: url("./assets/fonts/poppinsMedium.ttf");
}
@font-face {
  font-family: "poppinsSemiBold";
  src: url("./assets/fonts/poppinsSemiBold.ttf");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./assets/fonts/poppinsBold.ttf");
}

body {
  background-color: #F6F8F9;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: visibility 0.3s;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ABABAB; 
  border-radius: 10px;
  visibility: hidden;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ABABAB; 
  border-radius: 10px;
  visibility: hidden;
}

.scroll:hover::-webkit-scrollbar-track {
  visibility: visible;
}

.scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.ant-select-selection-search-input {
  font-family: poppinsRegular;
  font-weight: 400;
}

.ant-select-selection-item {
  font-family: poppinsRegular !important;
  font-weight: 400;
}

.ant-select-item-option-content {
  font-family: poppinsRegular;
  font-weight: 400;
}

