@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "poppinsRegular";
  src: url("./assets/fonts/poppinsRegular.ttf");
}
@font-face {
  font-family: "poppinsMedium";
  src: url("./assets/fonts/poppinsMedium.ttf");
}

body {
  background-color: #F6F8F9;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ABABAB; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ABABAB; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ABABAB; 
}
